html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: #212121;;
    color: white;
    border: none;
    padding: 10px 30px;
}

#header-text-2 {
    background-color: brown;
    padding: 10px 30px;
    font-weight: bold;
}

#header-text-1 {
    padding: 10px 30px;
}

#header-text-3 {
    padding: 10px 30px;
}

.main-image {
    background-image: url(./images/main-image.jpeg);
    background-attachment: scroll; /* fixed- This property is adding the parallax effect*/
    background-size: cover;
    min-height: 650px;
    min-width: auto;
    color: white;
    text-align: center;
    opacity: 1;
}

.image-text {
    position: absolute;
    top: 40%;
    left: 15%;
    color: black;
    font-weight: bold;
}

#symbol {
    position: absolute;
    bottom: 1%;
    left: 47%;
    transform: rotate(270deg);
    font-size: 72px;
    min-width:10%;
}

#symbol:hover {
    cursor: pointer;
}

.biography {
    background-color: #212121;;
    min-height: 650px;
}

.left-section {
    position: absolute;
    right: 50%;
    margin-left: 150px;
    margin-top: 175px;
    text-align: left;
    color: white;
    /* font-weight: bold; */
}

#page2-biography {
    text-align: center;
}

.right-section {
    position: absolute;
    left: 50%;
    margin-left: 150px;
    margin-top: 140px;
}

footer {
    background-color: brown;
    text-align: center;
    background-color: brown;;
    color: white;
    border: none;
    padding: 10px 30px;
    
}